// 1. Import the initial variables
@import "bulma.min";
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/locomotive-scroll/dist/locomotive-scroll.min";
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

@font-face {
	font-family: "ArrowBold";
	src: url("../fonts/Tsukuarrow-Bold.woff2");
}

@font-face {
	font-family: "ArrowLight";
	src: url("../fonts/Tsukuarrow-Regular.woff2");
}

$back: #F7F6F3;
$scalet: #D62A00;
$warmgray: #E0DFDD;
$lightwarm: #EDECE9;
$main: #30992E;
$darkgray: #333333;
$bold: 'DM Sans',
'TazuganeGothicStdN-Heavy',
sans-serif;
$medium: 'DM Sans',
'TazuganeGothicStdN-Medium',
sans-serif;
$regular: 'DM Sans',
'TazuganeGothicStdN-Book',
sans-serif;

@mixin ffbold {
	font-family: $bold;
	font-weight: 700;
}

@mixin ffmedium {
	font-family: $medium;
	font-weight: 500;
}

@mixin ffregular {
	font-family: $regular;
	font-weight: 400;
}

@mixin subhead {
	@include ffbold;
	font-size: 22px;
	line-height: 110%;
	color: $darkgray;
}

@mixin headline {
	@include ffmedium;
	font-size: 48px;
	line-height: 100%;
	color: $darkgray;
}

@mixin slides {
	background-size: cover;
	height: 100%;
	width: 100%;
	background-position: center;
}

html {
	background-color: $back;
}

body {
	border-color: $back;
	font-family: $regular;
	color: $darkgray;
	font-size: 15px;
	line-height: 160%;
	transition: all 1s ease;
}

b {
	@include ffbold;
}

.arrow-bold {
	font-family: 'ArrowBold';
	margin-left: 3px;
	margin-right: 3px;
}

.arrow-light {
	font-family: 'ArrowLight';
	margin-left: 3px;
	margin-right: 3px;
}

.back {
	&__1 {
		margin-top: 24*5px;
		margin-left: -10%;

		@include tablet-only {
			margin-top: 12px;
			margin-left: auto;
			width: 90%;
			margin-bottom: -24*3px;
		}
	}

	&__2 {
		height: 50%;
		transform: translateX(40%);
	}
}

.section {
	@include tablet-only {
		padding: 3rem 85px;
	}

	@include mobile {
		padding: 3rem 30px;
	}
}

.top {
	height: 110vh;
	position: relative;

	.container {
		position: relative;
		height: 100%;
	}

	&__title {
		margin-top: 24*2px;
		margin-bottom: -70px;
		margin-left: -20px;
		height: 190px;
		@include tablet-only{
			height: 170px;
			margin-bottom: -50px;
			margin-left: -20px;
		}
		@include mobile{
			height: auto;
			width: 100%;
			margin-left: -10px;
			margin-bottom: -30px;
			margin-top: 24*3px;
		}
	}

	&__subtitle {
		@include ffmedium;
		margin-top: 24px;
		font-size: 16px;
		line-height: 160%;
	}

	&__subenglish {
		@include ffmedium;
		font-size: 13px;
		line-height: 120%;
		margin-left: 158px;
		margin-top: -20px;
	}

	&__information {
		position: absolute;
		bottom: -10%;
		@include tablet-only{
			bottom: -5%;
		}
		@include mobile{
			bottom: 0;
		}
	}

	&__date {
		font-size: 30px;
		@include ffmedium;
		line-height: 110%;

		@include mobile {
			font-size: 25px;
		}
	}

	&__time {
		font-size: 25px;
		@include ffregular;
		margin-top: 3px;

		@include mobile {
			font-size: 21px;
		}
	}

	&__lastday {
		font-size: 13px;
		display: inline-block;
		transform: translateY(-1px);
	}

	&__atby {
		vertical-align: top;
		margin-top: 15px;
		@include ffbold;
		font-size: 18px;
		display: inline-block;

		&detail {
			@include ffmedium;
			margin-top: 15px;
			line-height: 150%;
			display: inline-block;
			margin-left: 16px;
			border-left: 1px solid rgba(10, 10, 10, 0.3);
			padding-left: 10px;
			padding-bottom: 10px;
			margin-right: 40px;

			.yoichi {
				margin-left: 25px;
			}

			.yuzuna {
				margin-left: 16px;
			}
		}
	}

	&__caution {
		margin-top: 60px;
	}
}

.illust {
	width: 100vw;
	height: 110vh;
	position: absolute;
	left: 0;
	top: 0;

	&__image {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		background-position: center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;

		&1 {
			@extend .illust__image;
			background-image: url('../img/1500/islands-01.svg');
			@include mobile{
				background-image: url('../img/iphone/islands-01.svg');
			}
			@include tablet-only{
				background-image: url('../img/tablet/islands-01.svg');
			}
			@include desktop-only{
				background-image: url(../img/900/islands-01.svg);
			}
			@include widescreen-only{
				background-image: url(../img/1200/islands-01.svg);
			}
		}

		&2 {
			@extend .illust__image;
			background-image: url('../img/1500/islands-02.svg');
			@include mobile{
				background-image: url('../img/iphone/islands-02.svg');
			}
			@include tablet-only{
				background-image: url('../img/tablet/islands-02.svg');
			}
			@include desktop-only{
				background-image: url(../img/900/islands-02.svg);
			}
			@include widescreen-only{
				background-image: url(../img/1200/islands-02.svg);
			}
		}

		&3 {
			@extend .illust__image;
			background-image: url('../img/1500/islands-03.svg');
			@include mobile{
				background-image: url('../img/iphone/islands-03.svg');
			}
			@include tablet-only{
				background-image: url('../img/tablet/islands-03.svg');
			}
			@include desktop-only{
				background-image: url(../img/900/islands-03.svg);
			}
			@include widescreen-only{
				background-image: url(../img/1200/islands-03.svg);
			}
		}

		&4 {
			@extend .illust__image;
			background-image: url('../img/1500/islands-04.svg');
			@include mobile{
				background-image: url('../img/iphone/islands-04.svg');
			}
			@include tablet-only{
				background-image: url('../img/tablet/islands-04.svg');
			}
			@include desktop-only{
				background-image: url(../img/900/islands-04.svg);
			}
			@include widescreen-only{
				background-image: url(../img/1200/islands-04.svg);
			}
		}

		&5 {
			@extend .illust__image;
			background-image: url('../img/1500/islands-05.svg');
			@include mobile{
				background-image: url('../img/iphone/islands-05.svg');
			}
			@include tablet-only{
				background-image: url('../img/tablet/islands-05.svg');
			}
			@include desktop-only{
				background-image: url(../img/900/islands-05.svg);
			}
			@include widescreen-only{
				background-image: url(../img/1200/islands-05.svg);
			}
		}

		&6 {
			@extend .illust__image;
			background-image: url('../img/1500/islands-06.svg');
			@include mobile{
				background-image: url('../img/iphone/islands-06.svg');
			}
			@include tablet-only{
				background-image: url('../img/tablet/islands-06.svg');
			}
			@include desktop-only{
				background-image: url(../img/900/islands-06.svg);
			}
			@include widescreen-only{
				background-image: url(../img/1200/islands-06.svg);
			}
		}

		&7 {
			@extend .illust__image;
			background-image: url('../img/1500/islands-07.svg');
			@include mobile{
				background-image: url('../img/iphone/islands-07.svg');
			}
			@include tablet-only{
				background-image: url('../img/tablet/islands-07.svg');
			}
			@include desktop-only{
				background-image: url(../img/900/islands-07.svg);
			}
			@include widescreen-only{
				background-image: url(../img/1200/islands-07.svg);
			}
		}
	}
}

.caution {
	margin-top: 24*8px;
	border: 1px solid $scalet;
	padding: 6px 5px;
	position: relative;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	@include tablet-only{
		margin-top: 24*4px;
	}
	@include mobile {
		margin-top: 24*2px;
		border: none;
		padding: 0 30px;
		display: block;
	}

	&__box {
		z-index: 0;
		background-color: $back;
		position: absolute;
		height: 120%;
		width: 96%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__icon {
		@include ffbold;
		position: relative;
		font-size: 32px;
		color: $scalet;
		width: 80px;
		text-align: center;

		@include mobile {
			text-align: left;
			margin-left: 1px;
			margin-bottom: 24px;
		}
	}

	&__title {
		position: relative;
		color: $scalet;
		font-family: $medium;
		font-size: 17px;
	}

	&__text {
		position: relative;
		@include ffregular;
		font-size: 13px;
		color: $scalet;
		margin-top: 7px;
	}
}

.introduction {
	margin-top: 24*5px;
}

.nav {
	padding-top: 24px;
	text-align: right;

	@include mobile {
		text-align: left;
	}

	ul {
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		border-top: 1px solid $warmgray;

		@include mobile {
			right: auto;
			left: 0;
		}
	}

	&__link {
		margin-bottom: 24px;
		display: inline-block;
		@include ffmedium;
		font-size: 20px;
		line-height: 120%;
		transition: 0.3s ease all;

		a {
			color: $main;
		}

		.link_arrow {
			font-size: 15px;
			transition: 0.3s ease all;
			display: inline-block;
		}

		&:hover {
			.link_arrow {
				transform: translateY(11px);
			}
		}
	}
}

.concept {
	@include tablet-only {
		margin-top: 24px;
	}

	@include mobile {
		margin-top: 24*3px;
	}

	&__title {
		@include subhead;
	}

	&__writer {
		margin-top: 12px;
		@include ffmedium;
		font-size: 13px;
		line-height: 130%;
	}

	&__body {
		margin-top: 24px;
		text-align: justify;
	}
}

.forward {
	margin-top: 24*4px;

	&__title {
		@include subhead;
	}

	&__writer {
		@include ffmedium;
		font-size: 13px;
		margin-top: 12px;
		line-height: 130%;

		a {
			color: $main;
			padding: 0 2px;
			text-decoration: underline;
		}
	}

	&__body {
		margin-top: 24px;
		text-align: justify;
	}
}

.designers {
	margin-top: 24*2px;
	padding-top: 24*4px;

	&__title {
		@include headline;
		margin-bottom: -24px;
	}
}

.work {
	margin-top: 24*6px;

	&:first-child {
		margin-top: 24*4px;

		@include mobile {
			margin-top: 24px;
		}
	}

	&__title {
		@include subhead;
		margin-top: 24px;
	}

	&__category {
		margin-top: 24px;
		@include ffmedium;
		font-size: 12px;
		line-height: 100%;

		span {
			display: inline-block;
			background-color: $lightwarm;
			padding: 4px 5px;
			margin-right: 6px;
			-webkit-border-radius: 5px;
			border-radius: 5px;

			@include mobile {
				margin-top: 6px;
			}
		}
	}

	&__detail {
		margin-top: 36px;
		text-align: justify;
	}
}

.swiper-container {
	width: 100%;
	height: 384px;

	@include tablet-only {
		height: 360px;
	}

	@include mobile {
		height: 216px;
		margin-left: -30px;
		margin-right: -30px;
		width: 100vw;
	}
}

.swiper-pagination-bullet-active {
	background-color: white;
	opacity: 0.5;
}

.swiper-pagination {
	text-align: left;
	left: 15px !important;
}

.swiper-slide {
	transition: ease all 0.5s;
}

.swiper-slide-next {
	height: 340px;
	margin-top: 22px;
	opacity: 0.3;

	@include tablet-only {
		height: 330px;
		margin-top: 15px;
	}

	@include mobile {
		height: 192px;
		margin-top: 12px;
	}
}

.swiper-button-next,
.swiper-button-prev {
	color: $main;
	opacity: 0.8;

	@include mobile {
		display: none;
	}
}

.ando-slide {
	&1 {
		@include slides;
		background-image: url(../img/works/ando/ando-1.jpg);
	}

	&2 {
		@include slides;
		background-image: url(../img/works/ando/ando-2.jpg);
	}

	&3 {
		@include slides;
		background-image: url(../img/works/ando/ando-3.jpg);
	}
}

.kawana-slide {
	&1 {
		@include slides;
		background-image: url(../img/works/kawana/kawana-1.jpg);
	}

	&2 {
		@include slides;
		background-image: url(../img/works/kawana/kawana-2.jpg);
	}

	&3 {
		@include slides;
		background-image: url(../img/works/kawana/kawana-3.jpg);
	}
}

.haraki-slide {
	&1 {
		@include slides;
		background-image: url(../img/works/haraki/haraki-1.jpg);
	}

	&2 {
		@include slides;
		background-image: url(../img/works/haraki/haraki-2.jpg);
	}

	&3 {
		@include slides;
		background-image: url(../img/works/haraki/haraki-3.jpg);
	}
}

.azegami-slide {
	&1 {
		@include slides;
		background-image: url(../img/works/azegami/azegami-1.jpg);
	}

	&2 {
		@include slides;
		background-image: url(../img/works/azegami/azegami-2.jpg);
	}

	&3 {
		@include slides;
		background-image: url(../img/works/azegami/azegami-3.jpg);
	}
}

.profile {
	margin-top: 24*3px;

	@include tablet-only {
		margin-top: 24*2px;
	}

	&__picture {
		height: 110px;
		width: 90px;
		margin-right: 20px;
		float: left;
		position: relative;

		@include tablet-only {
			width: 90px;
			margin-right: 24px;
			height: 140px;
		}

		@include mobile {
			margin-right: 22px;
			height: 72px;
			width: 70px;
		}

		img {
			-webkit-border-radius: 50%;
			border-radius: 50%;

			&:first-child {
				width: 90px;
				height: 90px;

				@include tablet-only {
					width: 72px;
					height: 72px;
					margin-left: 17px;
				}

				@include mobile {
					width: 66px;
					height: 66px;
					margin-left: 2px;
				}
			}

			&:last-child {
				width: 35px;
				height: 35px;
				position: absolute;
				top: 39px;
				left: -1px;

				@include mobile {
					top: 36px;
					margin-left: -14px;
				}
			}
		}
	}

	&__nameblock {
		height: 72px;
		padding-top: 5px;
	}

	&__name {
		@include ffmedium;
		font-size: 15px;
		line-height: 100%;
		float: left;

		@include mobile {
			float: none;
			margin-top: 8px;
		}
	}

	&__english {
		@include ffregular;
		font-size: 15px;
		line-height: 100%;
		margin-right: 45px;
		float: left;

		@include touch {
			float: none;
		}

		@include mobile {
			margin-top: 8px;
		}
	}

	&__link {
		display: inline-block;
		@include ffregular;
		font-size: 14px;
		line-height: 100%;
		text-decoration: underline;
		margin-right: 12px;
		transform: translateY(-6px);

		@include tablet-only {
			margin-top: 12px;
		}

		@include mobile {
			margin-top: 12px;
		}

		a {
			color: $main;
			transition: 0.3s all ease;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__detail {
		@include ffregular;
		text-align: justify;
		font-size: 14px;
		line-height: 160%;

		@include tablet-only {
			margin-top: 8px;
			font-size: 13px;
			line-height: 150%;
		}

		@include mobile {
			margin-top: 6px;
			font-size: 13px;
			line-height: 150%;
		}
	}
}

.divider {
	text-align: right;
	padding-top: 70px;
	height: 100%;

	@include tablet-only {
		margin-right: -18px;
	}

	&__line {
		text-align: right;
		margin-right: 25px;
		margin-left: auto;
		width: 1px;
		background-color: $warmgray;
		height: calc(100% - 37px);
	}
}

.accordion-menu {
	&__button {
		cursor: pointer;
		background-color: #E5E4E2;
		@include ffmedium;
		font-size: 15px;
		padding: 9px 21px 11px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: $main;

		span {
			transform: translateY(1px);
			transition: ease all 0.5s;
			margin-right: 12px;
		}

		&--active {
			span {
				transform: translateY(1px) rotate(90deg);
				transform-origin: center center;
			}
		}
	}

	&__contents {
		border-left: 1px solid $warmgray;
		border-bottom: 1px solid $warmgray;
		padding-left: 18px;
		padding-bottom: 24px;
		padding-top: 32px;
		margin-top: 22px;
		display: none;
	}
}



.comment {
	margin-top: 24px;

	@include mobile {
		display: flex;
	}

	&:first-child {
		margin-top: 24*3px;

		@include mobile {
			margin-top: 0;
		}
	}

	&__icon {
		width: 20px;
		float: left;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		margin-right: 10px;

		@include mobile {
			width: 28px;
			height: 28px;
			float: none;
		}
	}

	&__name {
		@include ffmedium;
		font-size: 14px;
		line-height: 150%;
	}

	&__body {
		@include ffregular;
		margin-top: 6px;
		font-size: 13px;
		line-height: 160%;

		@include mobile {
			margin-top: 0;
		}
	}
}

.event {
	margin-top: 24*7px;

	&__title {
		@include headline;
	}

	&__head {
		@include subhead;
		margin-top: 24*2px;
	}

	&__detail {
		@include ffregular;
		margin-top: 24px;
	}

	&__table {
		margin-top: 24px;
		margin-bottom: 48px;
		border-spacing: 0;
	}
}

.table {
	&__head {
		width: 75px;
		border-right: 1px solid $warmgray;
		margin-right: 20px;
	}

	&__content {
		padding-left: 15px;
	}
}

.access {
	margin-top: 24*7px;

	&__title {
		@include headline;
		margin-bottom: 24*2px;
	}

	&__photo {
		height: 336px;

		@include tablet-only {
			width: 100%;
			height: auto;
		}

		@include mobile {
			height: auto;
			width: 100%;
		}
	}

	&__head {
		@include subhead;
		margin-top: 24px;
	}

	&__link {
		margin-top: 12px;
		@include ffmedium;

		a {
			color: $main;
			text-decoration: underline;
		}
	}

	&__text {
		margin-top: 24px;
	}
}

footer {
	@include tablet-only {
		padding: 0 85px;
	}

	@include mobile {
		padding: 0 30px;
	}
}

.footer {
	background-color: $back;
	margin-top: 24*7px;
	border-top: 1px solid $warmgray;
	padding-top: 0;
	margin-bottom: 24*2px;
	padding-bottom: 0;
	position: relative;

	@include touch {
		padding-left: 0;
		padding-right: 0;
	}

	@include mobile {
		margin-bottom: 24*5px;
	}

	&__head {
		@include subhead;
		margin-top: 24*2px;
	}

	&__notes {
		@include ffregular;
		font-size: 13px;
		line-height: 170%;
		margin-top: 20px;
	}

	table {
		margin-top: 20px;
	}

	%__credit {
		@include ffregular;
		font-size: 13px;
		line-height: 170%;
	}

	&__credit {
		@extend %__credit;

		&--post {
			@extend %__credit;
			width: 145px;
			border-right: 1px solid $warmgray;
		}

		&--name {
			@extend %__credit;
			padding-left: 15px;
		}
	}

	&__copyright {
		@include ffregular;
		font-size: 13px;
		position: absolute;
		right: 0;
		bottom: 59px;

		@include mobile {
			position: static;
			margin-bottom: 24px;
		}
	}

	&__toparrow {
		@include ffmedium;
		position: absolute;
		right: 0;
		bottom: 126px;
		font-size: 64px;
		transition: ease all 0.3s;

		@include mobile {
			bottom: 58px;
		}

		&:hover {
			bottom: 141px;
		}

		a {
			color: $main;
		}
	}
}