// 1. Import the initial variables
@import "bulma.min";
@import "../node_modules/bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

$back: #F7F6F3;
$scalet: #D62A00;
$warmgray: #E0DFDD;
$lightwarm: #EDECE9;
$main: #30992E;
$darkgray: #333333;
$bold:'DM Sans',
'TazuganeGothicStdN-Heavy',
sans-serif;
$medium: 'DM Sans',
'TazuganeGothicStdN-Medium',
sans-serif;
$regular: 'DM Sans',
'TazuganeGothicStdN-Regular',
sans-serif;

@mixin ffbold {
	font-family: $bold;
	font-weight: 700;
}

@mixin ffmedium {
	font-family: $medium;
	font-weight: 500;
}

@mixin ffregular {
	font-family: $regular;
	font-weight: 400;
}

@mixin subhead {
	@include ffbold;
	font-size: 22px;
	line-height: 110%;
	color: $darkgray;
}

@mixin headline {
	@include ffmedium;
	font-size: 48px;
	line-height: 100%;
	color: $darkgray;
}

html {
	background-color: $back;
}

body {
	font-family: $regular;
	color: $darkgray;
	font-size: 15px;
	line-height: 160%;
}

b {
	@include ffbold;
}

.top {
	height: 100vh;
}

.caution {
	margin-top: 24*5px;
	border: 1px solid $scalet;
	padding: 6px 5px;
	position: relative;
	display: flex;
	-webkit-align-items: center;
	align-items: center;

	&__box {
		z-index: 0;
		background-color: $back;
		position: absolute;
		height: 120%;
		width: 96%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__icon {
		@include ffbold;
		position: relative;
		font-size: 32px;
		color: $scalet;
		width: 80px;
		text-align: center;
	}

	&__title {
		position: relative;
		color: $scalet;
		font-family: $medium;
		font-size: 17px;
	}

	&__text {
		position: relative;
		@include ffregular;
		font-size: 13px;
		color: $scalet;
		margin-top: 7px;
	}
}

.introduction {
	margin-top: 24*5px;
}

.nav {
	padding-top: 24px;
	text-align: right;

	ul {
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		border-top: 1px solid $warmgray;
	}

	&__link {
		margin-bottom: 24px;
		display: inline-block;
		@include ffmedium;
		font-size: 20px;
		line-height: 120%;
		transition: 0.3s ease all;

		a {
			color: $main;
		}

		.link_arrow {
			font-size: 15px;
			transition: 0.3s ease all;
			display: inline-block;
		}

		&:hover {
			.link_arrow {
				transform: translateY(11px);
			}
		}
	}
}

.concept {

	&__title {
		@include subhead;
	}

	&__writer {
		margin-top: 12px;
		@include ffmedium;
		font-size: 13px;
		line-height: 130%;
	}

	&__body {
		margin-top: 24px;
		text-align: justify;
	}
}

.forward {
	margin-top: 24*4px;

	&__title {
		@include subhead;
	}

	&__writer {
		@include ffmedium;
		font-size: 13px;
		margin-top: 12px;
		line-height: 130%;

		a {
			color: $main;
			padding: 0 2px;
			text-decoration: underline;
		}
	}

	&__body {
		margin-top: 24px;
		text-align: justify;
	}
}

.designers {
	margin-top: 24*2px;
	padding-top: 24*4px;

	&__title {
		@include headline;
		margin-bottom: -24px;
	}
}

.work {
	margin-top: 24*6px;

	&:first-child {
		margin-top: 24*4px;
	}

	&__title {
		@include subhead;
		margin-top: 24px;
	}

	&__category {
		margin-top: 24px;
		@include ffmedium;
		font-size: 12px;
		line-height: 100%;

		span {
			background-color: $lightwarm;
			padding: 4px 5px;
			margin-right: 6px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
	}

	&__detail {
		margin-top: 36px;
		text-align: justify;
	}
}

.swiper-container {
	width: 100%;
	height: 360px;
}

.swiper-pagination-bullet-active {
	background-color: $main;
}

.swiper-button-next,
.swiper-button-prev {
	color: $main;
}

.profile {
	margin-top: 24*3px;

	&__picture {
		height: 110px;
		width: 90px;
		margin-right: 20px;
		float: left;
		position: relative;

		img {
			-webkit-border-radius: 50%;
			border-radius: 50%;

			&:first-child {
				width: 90px;
				height: 90px;
			}

			&:last-child {
				width: 35px;
				height: 35px;
				position: absolute;
				top: 56px;
				left: -1px;
			}
		}
	}

	&__name {
		@include ffmedium;
		font-size: 15px;
		line-height: 100%;
		float: left;
		margin-right: 12px;
	}

	&__english {
		@include ffregular;
		font-size: 15px;
		line-height: 100%;
		margin-right: 45px;
		float: left;
	}

	&__link {
		display: inline-block;
		@include ffregular;
		font-size: 14px;
		line-height: 100%;
		text-decoration: underline;
		margin-right: 12px;
		transform: translateY(-6px);

		a {
			color: $main;
			transition: 0.3s all ease;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__detail {
		@include ffregular;
		font-size: 14px;
		line-height: 160%;

	}
}

.divider {
	text-align: right;
	padding-top: 48px;
	height: 100%;

	&__line {
		text-align: right;
		margin-right: 25px;
		margin-left: auto;
		width: 1px;
		background-color: $warmgray;
		height: calc(100% - 37px);
	}
}

.comment {
	margin-top: 24px;

	&:first-child {
		margin-top: 24*2px;
	}

	&__icon {
		width: 20px;
		float: left;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		margin-right: 10px;
	}

	&__name {
		@include ffmedium;
		font-size: 14px;
		line-height: 150%;
	}

	&__body {
		@include ffregular;
		margin-top: 6px;
		font-size: 13px;
		line-height: 160%;
	}
}

.event {
	margin-top: 24*7px;

	&__title {
		@include headline;
	}

	&__head {
		@include subhead;
		margin-top: 24*2px;
	}

	&__detail {
		@include ffregular;
		margin-top: 24px;
	}

	&__table {
		margin-top: 24px;
		margin-bottom: 48px;
		border-spacing: 0;
	}
}

.table {
	&__head {
		width: 75px;
		border-right: 1px solid $warmgray;
		margin-right: 20px;
	}

	&__content {
		padding-left: 15px;
	}
}

.access {
	margin-top: 24*7px;

	&__title {
		@include headline;
		margin-bottom: 24*2px;
	}

	&__photo {
		height: 336px;
	}

	&__head {
		@include subhead;
		margin-top: 24px;
	}

	&__link {
		margin-top: 12px;
		@include ffmedium;

		a {
			color: $main;
			text-decoration: underline;
		}
	}

	&__text {
		margin-top: 24px;
	}
}

.footer {
	background-color: $back;
	margin-top: 24*7px;
	border-top: 1px solid $warmgray;
	padding-top: 0;
	margin-bottom: 24*2px;
	padding-bottom: 0;
	position: relative;

	&__head {
		@include subhead;
		margin-top: 24*2px;
	}

	&__notes {
		@include ffregular;
		font-size: 13px;
		line-height: 170%;
		margin-top: 20px;
	}

	table {
		margin-top: 20px;
	}

	%__credit {
		@include ffregular;
		font-size: 13px;
		line-height: 170%;
	}

	&__credit {
		@extend %__credit;

		&--post {
			@extend %__credit;
			width: 145px;
			border-right: 1px solid $warmgray;
		}

		&--name {
			@extend %__credit;
			padding-left: 15px;
		}
	}

	&__copyright {
		@include ffregular;
		font-size: 13px;
		position: absolute;
		right: 0;
		bottom: 59px;
	}

	&__toparrow {
		@include ffmedium;
		position: absolute;
		right: 0;
		bottom: 126px;
		font-size: 64px;
		transition: ease all 0.3s;

		&:hover {
			bottom: 141px;
		}

		a {
			color: $main;
		}
	}
}